.container {
    display: flex;
    flex-direction: column;
    //height: calc(100vh - 2.5rem);
    width: auto;
    max-width: 1000px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: $spacer;
    margin-bottom: $spacer;
    margin-left: $spacer;
}

.done {
    margin-top: auto;
    color: #666;
    text-decoration: line-through;
}

.list-item div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    //max-width: 750px;
}

.list-item label {
    margin-right: auto;
}

.delete {
    cursor: pointer;
    height: 25px;
    width: 25px;
    background: transparent;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fal' data-icon='times' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' class='svg-inline--fa fa-times fa-w-10 fa-2x'%3E%3Cpath fill='%23666' d='M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z' class=''%3E%3C/path%3E%3C/svg%3E");
}